<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Table Developers</h1>

<div>
    <h2>Get info about all developer </h2>
    <form method="POST" name="getInfoAboutAllDeveloper" action="/developers/1">
        <input type="submit" name="getInfoAboutAllDeveloper_submit" value="Get info">
    </form>
</div>

<div>
    <h2>Get alol info about developer </h2>
    <form method="POST" name="getInfoAboutDeveloper" action="/developers/2">
        Last Name: <input type="text" name="lastName"><br>
        First Name: <input type="text" name="firsrtName"><br>
        <input type="submit" name="getInfoAboutDeveloper_submit" value="Get info">
    </form>

</div>

</body>
</html>